dashboard {
  .emphasize{
    font-size: 18;
    font-weight: bold;
  }
  .mission-won{
    font-size: 18;
    font-weight: bold;
    color: red;
  }
  .current-mission{
    border: 2px solid black;
    background-color: gray;
  }
}
